<!-- <div class="fixed-bottom"> -->
  <!-- <footer id="sticky-footer" class="contener">
    <div class="footer__social-media" style="text-align: center;">

      <a href="https://www.facebook.com/OfficialBluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/facebook-icon_08aa549f-99b2-4a2f-a6e5-d7790736aef7_35x.png?v=1566900342" alt="social_media_logo">
      </a>

      <a href="https://www.instagram.com/bluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/instagram-icon_7699e6db-2719-4297-9cf9-e63e09bbab71_35x.png?v=1566900356" alt="social_media_logo">
      </a>

      <a href="https://twitter.com/Bluebella" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/twitter-icon_fc321997-8cb7-4d9d-bcb7-3eedbf5fb6e4_35x.png?v=1566900369" alt="social_media_logo">
      </a>

      <a href="https://www.pinterest.co.uk/missbluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/pinterest-icon_4e926a35-9e62-4d76-aa71-7f257f74ec60_35x.png?v=1566900390" alt="social_media_logo">
      </a>

      <a href="https://www.youtube.com/bluebella" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/youtube-icon_ae00b247-98ac-4873-ac62-50a3872a503b_35x.png?v=1566900403" alt="social_media_logo">
      </a>

</div>


  </footer> -->


  <!-- <div class="fixed-bottom"> -->

<!--
  <footer id="sticky-footer" class="contener">
    <div class="footer__social-media" style="text-align: center;">

      <a href="https://www.facebook.com/OfficialBluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/facebook-icon_08aa549f-99b2-4a2f-a6e5-d7790736aef7_35x.png?v=1566900342" alt="social_media_logo">
      </a>

      <a href="https://www.instagram.com/bluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/instagram-icon_7699e6db-2719-4297-9cf9-e63e09bbab71_35x.png?v=1566900356" alt="social_media_logo">
      </a>

      <a href="https://twitter.com/Bluebella" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/twitter-icon_fc321997-8cb7-4d9d-bcb7-3eedbf5fb6e4_35x.png?v=1566900369" alt="social_media_logo">
      </a>

      <a href="https://www.pinterest.co.uk/missbluebella/" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/pinterest-icon_4e926a35-9e62-4d76-aa71-7f257f74ec60_35x.png?v=1566900390" alt="social_media_logo">
      </a>

      <a href="https://www.youtube.com/bluebella" class="footer__social-media-link" target="blank">
        <img src="//cdn.shopify.com/s/files/1/1169/7228/files/youtube-icon_ae00b247-98ac-4873-ac62-50a3872a503b_35x.png?v=1566900403" alt="social_media_logo">
      </a>

  </div>


  </footer> -->

  <!-- Footer -->


  <hr class="clearfix w-100 d-md-none">

  <footer class="page-footer font-small color-dark pt-4" style="background-color: #f8f9fa;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h3>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">COMPANY INFO</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About The Market</a>
          </li>
          <li>
            <a href="#!">Affiliate</a>
          </li>
          <li>
            <a href="#!">Fashion Blogger</a>
          </li>
          <li>
            <a href="#!">Student Discount</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <!-- <div class="col-md-2 mx-auto">

        Links
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto contener">

        <!-- Links -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">FIND US ON</h3>

       <div class="list-unstyled" >
        <i class="fa fa-facebook-square fa-3x" aria-hidden="true"  style="margin: 10px;"></i>
        <i class="fa fa-twitter fa-3x" aria-hidden="true" style="margin: 10px;"></i>
        <i class="fa fa-instagram fa-3x" aria-hidden="true" style="margin: 10px;"></i>
        <i class="fa fa-youtube-play fa-3x" aria-hidden="true" style="margin: 10px;"></i>
        <i class="fa fa-pinterest fa-3x" aria-hidden="true" style="margin: 10px;"></i>
        <i class="fa fa-linkedin fa-3x" aria-hidden="true" style="margin: 10px;"></i>
         </div>
         <br>

         <i class="fa fa-share-alt  fa  fa-2x" aria-hidden="true" style="margin: 15px;"></i>
         <i class="fa fa-android fa  fa-3x" aria-hidden="true" style="margin: 10px;"></i>
         <i class="fa fa-apple fa  fa-3x" aria-hidden="true" style="margin: 10px;"></i>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

  <!-- Call to action -->

  <hr>

  <div class="container" style="margin-right: 0px;">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282735813528628258.png" class="c-img-con-m" width="50" height="30" >
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732983375743706.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273036537082707.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282730981571339584.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2019/04/18/15555712791794601862.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282731651043358291.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282733431754785346.png" class="c-img-con-m" width="50" height="30">
    <img src="//img.ltwebstatic.com/images3_pi/2020/01/07/1578379682eb1073d87a7905c6fa3755e9415bfd3c.png" class="c-img-con-m" width="50" height="30">
  </div>
  <!-- Social buttons -->



</footer>
<!-- Footer -->
